body{
font-family:"andale mono", courier, monospace;
color:black;
margin-left:10px;
}
span.result{
/*position:absolute;*/
color:red;
}
span.a{
color:green;
}
span.b{
color:red;
}
span.result1{
/*position:absolute;
left:10%;*/
}
input{
/*height:75px;*/
width:65%;
border-style:solid;
border-width:2px;
word-wrap:break-word;
}
#check
{
height:50px;
width:150px;
}
#inv{
height:20px;
width:20px;
}
button{
/*position:relative;*/
background-color:black;
color:white;
border-style:solid;
border-width:2px;
border-color:black;
border-radius:20px;
font-size:25pt;
/*left:6%;*/
}
button:hover
{
background-color:grey;
}
button:active
{
background-color:grey;
}
